<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/public">
<head>
    <title>Spring Boot and Thymeleaf - Greeting with Thymeleaf Layout Dialect!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}" />
</head>

<body>
    <div id="page-wrapper" layout:fragment="content">
        <p>Hello World!</p>
    </div>
</body>
</html>